<div class="center jumbotron">
  <h1>Welcome to the social computing Quora!</h1>

  
  <div>
  <%= link_to "Ask a question now!", controller: "requests", action: "new" %></div>
  <div>
  <%= link_to "See all the questions now!", controller: "responses", action: "index" %></div>
</div>

