<h2>All Questions:</h2><br>
<% if @requests.nil?||@requests.length==0 %>
No one has asked a question yet!
<% else %>
<% @requests.each do |e|%>
<%= link_to e.name , e%><br>
<b>Responses:</b><br>
<% responses=e.responses %>
<% if responses.nil?||responses.length==0 %>
No response yet!<br>
<% else %>
<% responses.each do |d|%>
<%= link_to d.name , d%><br>
<% end%>
<% end%>
<br><br>
<% end%>
<% end%>





